YouTube_Shorts_Automation_Gemini.json
{
  "name": "YouTube Shorts Automation Pipeline (Gemini Edition)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        416
      ],
      "id": "f3bec1d1-ef47-480c-aada-5a3a0cb93361",
      "name": "Start Automation"
    },
    {
      "parameters": {
        "url": "https://www.dogdrip.net/dogdrip",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -656,
        416
      ],
      "id": "5fe98bbf-cef0-44d3-a263-3d3a17cc86c7",
      "name": "1. Fetch Source (DogDrip)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the HTML content and extract the most interesting/funny story suitable for a YouTube Short.\n\nCRITICAL FILTERING CRITERIA:\n1. STRICTLY EXCLUDE any content that is sexually explicit, lewd, or contains severe violence/gore.\n2. EXCLUDE content that violates YouTube's Community Guidelines regarding safety and suitability for general audiences.\n3. Prioritize funny, relatable, or surprising stories that are safe for work (SFW).\n\nContent: {{ $json.data }}\n\nOutput the story summary.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -304,
        416
      ],
      "id": "18457fd6-8e38-4eee-be4b-b9d725c52448",
      "name": "2. Select Topic (Gemini Agent)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a YouTube Shorts script based on this story.\n\nStory: {{ $json.output }}\n\nFormat:\n- Hook (0-5s)\n- Body (5-40s)\n- Conclusion/CTA (40-60s)",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        0,
        400
      ],
      "id": "d69d8b77-c329-41bc-b03a-a6aa52086a1a",
      "name": "3. Write Script (Gemini Agent)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional Voiceover Director.\n\nInput Script: {{ $json.output }}\n\nTask:\n1. Extract ONLY the spoken narration/dialogue from the script. Remove all visual cues, scene headers, and actor names.\n2. Optimize the text for Text-to-Speech (TTS). Expand abbreviations (e.g., \"kg\" to \"kilograms\"), and ensure punctuation controls the pacing naturally.\n3. Return ONLY the text to be spoken, no other comments.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        400,
        200
      ],
      "id": "dd9f353b-d888-4049-b601-d74ab0bfd356",
      "name": "TTS Prep Agent (Gemini)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://texttospeech.googleapis.com/v1/text:synthesize",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"input\": { \"text\": $json.output },\n  \"voice\": { \"languageCode\": \"ko-KR\", \"name\": \"ko-KR-Neural2-A\" },\n  \"audioConfig\": { \"audioEncoding\": \"MP3\" }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        100
      ],
      "id": "7812afc6-8790-4c21-9513-c06126a7771b",
      "name": "4. Generate Audio (Google TTS)",
      "credentials": {
        "googleApi": {
          "id": "uoSvE08dm6k0WBan",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a visual image generation prompt based on this SCRIPT.\n\nScript: {{ $json.output }}\n\nINSTRUCTIONS:\n1. Analyze the script to understand the visual context of the scene.\n2. Create a scene that represents the key elements or setting described in the script.\n3. If the story involves people, describe them in a stylized or cartoonish way (e.g., digital art style) to maintain safety while being relevant.\n4. Focus on the atmosphere, setting, and key objects mentioned in the story.\n5. Do NOT include any text in the image.\n\nOutput ONLY the image description.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        400,
        600
      ],
      "id": "831c11bd-d029-400d-b277-a110282d5fde",
      "name": "Generate Image Prompt (Gemini Agent)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us-central1-aiplatform.googleapis.com/v1/projects/gen-lang-client-0641001014/locations/us-central1/publishers/google/models/imagegeneration@005:predict",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "instances",
              "value": "={{ [ { \"prompt\": $json.output } ] }}"
            },
            {
              "name": "parameters",
              "value": "={{ { \"sampleCount\": 1 } }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        600
      ],
      "id": "0ffb5ef1-2a15-43a7-80f9-b9cb06e6c66c",
      "name": "5. Generate Image (Gemini Imagen)",
      "credentials": {
        "googleApi": {
          "id": "uoSvE08dm6k0WBan",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const base64 = item.json.predictions[0].bytesBase64Encoded;\n  // MEMORY OPTIMIZATION: Remove heavy base64 string from JSON\n  delete item.json.predictions;\n  \n  return {\n    json: item.json,\n    binary: {\n      image: {\n        data: base64,\n        mimeType: 'image/png',\n        fileExtension: 'png',\n        fileName: 'generated_image.png'\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        624
      ],
      "id": "27b78141-e386-4269-a84f-cdb495af62fe",
      "name": "Preview Image"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const audioContent = item.json.audioContent;\n  // MEMORY OPTIMIZATION: Remove heavy base64 string from JSON\n  delete item.json.audioContent;\n\n  return {\n    json: item.json,\n    binary: {\n      audio: {\n        data: audioContent,\n        mimeType: 'audio/mp3',\n        fileExtension: 'mp3',\n        fileName: 'generated_audio.mp3'\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        320
      ],
      "id": "b5b13bae-5d90-472a-867c-49b2be169172",
      "name": "Prepare Audio for Drive"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const text = item.json.output || \"No topic selected\";\n  const binaryData = Buffer.from(text).toString('base64');\n  const timestamp = new Date().toISOString().replace(/[:.]/g, '-');\n  return {\n    json: item.json,\n    binary: {\n      data: {\n        data: binaryData,\n        mimeType: 'text/plain',\n        fileExtension: 'txt',\n        fileName: `topic_${timestamp}.txt`\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        176
      ],
      "id": "26ddc588-a518-4841-b121-b4d042d37b45",
      "name": "Prepare Topic for Drive"
    },
    {
      "parameters": {
        "name": "={{ 'topic_' + $now.format('yyyyMMdd_HHmmss') + '.txt' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1qOcE-wZwWUolDJrBu8xjE_znHzxfleP-",
          "mode": "list",
          "cachedResultName": "auto_AI_shorts",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1qOcE-wZwWUolDJrBu8xjE_znHzxfleP-"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        96,
        176
      ],
      "id": "d55d6e70-381e-4eee-9437-4c318e9e9036",
      "name": "Save Topic to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gvlK0NyZ1RdJwqHT",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const text = item.json.output || \"No script generated\";\n  const binaryData = Buffer.from(text).toString('base64');\n  const timestamp = new Date().toISOString().replace(/[:.]/g, '-');\n  return {\n    json: item.json,\n    binary: {\n      data: {\n        data: binaryData,\n        mimeType: 'text/plain',\n        fileExtension: 'txt',\n        fileName: `script_${timestamp}.txt`\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        16
      ],
      "id": "8710f4c9-7080-4e41-9acb-4da578752a64",
      "name": "Prepare Script for Drive"
    },
    {
      "parameters": {
        "name": "={{ 'script_' + $now.format('yyyyMMdd_HHmmss') + '.txt' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1qOcE-wZwWUolDJrBu8xjE_znHzxfleP-",
          "mode": "list",
          "cachedResultName": "auto_AI_shorts",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1qOcE-wZwWUolDJrBu8xjE_znHzxfleP-"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        704,
        16
      ],
      "id": "aec532c0-fcc7-4c7c-b5bf-4c3e4365390f",
      "name": "Save Script to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gvlK0NyZ1RdJwqHT",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "upload",
        "fileContent": "binary",
        "inputDataFieldName": "image",
        "name": "={{ 'image_' + $now.format('yyyyMMdd_HHmmss') + '.png' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1qOcE-wZwWUolDJrBu8xjE_znHzxfleP-",
          "mode": "list",
          "cachedResultName": "auto_AI_shorts",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1qOcE-wZwWUolDJrBu8xjE_znHzxfleP-"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1104,
        816
      ],
      "id": "7d7fb796-4e24-42cf-9555-26190341b780",
      "name": "Save Image to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gvlK0NyZ1RdJwqHT",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "upload",
        "fileContent": "binary",
        "inputDataFieldName": "audio",
        "name": "={{ 'audio_' + $now.format('yyyyMMdd_HHmmss') + '.mp3' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1qOcE-wZwWUolDJrBu8xjE_znHzxfleP-",
          "mode": "list",
          "cachedResultName": "auto_AI_shorts",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1qOcE-wZwWUolDJrBu8xjE_znHzxfleP-"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1296,
        320
      ],
      "id": "c9732bf0-bad2-4438-b8fb-cc3619b8527e",
      "name": "Save Audio to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gvlK0NyZ1RdJwqHT",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1500,
        400
      ],
      "id": "e100490b-ec6e-4318-b1ae-a3f523d6e179",
      "name": "Merge Results"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the merged input data\nconst data = $input.first().json;\n\n// 2. Define Fallback Assets (Creatomate Demo Assets)\n// These are used if the AI generation fails or hasn't run yet.\nconst FALLBACK_IMAGE = \"https://creatomate.com/files/assets/4a7903f0-37bc-48df-9d83-5eb52afd5d07\";\nconst FALLBACK_AUDIO = \"https://creatomate.com/files/assets/b5dc815e-dcc9-4c62-9405-f94913936bf5\";\n\n// 3. Extract Data with Fallbacks\n\n// Subtitles\nconst subtitles = data.srt || \"\";\n\n// Script/Dialogue\nconst script = data.output || data.video_script || \"No script generated\";\nconst dialogue = data.speech || data.dialogue_text || script;\n\n// Audio (Handle Base64 or URL)\nlet audio = data.audioContent || data.audio_content;\nif (audio && !audio.startsWith('http') && !audio.startsWith('data:')) {\n  audio = 'data:audio/mp3;base64,' + audio;\n}\nif (!audio) audio = FALLBACK_AUDIO;\n\n// Image (Handle Base64 or URL)\nlet image = null;\nif (data.predictions && data.predictions[0]) {\n  image = data.predictions[0].bytesBase64Encoded;\n} else if (data.image_url) {\n  image = data.image_url;\n}\n\nif (image && !image.startsWith('http') && !image.startsWith('data:')) {\n  image = 'data:image/png;base64,' + image;\n}\nif (!image) image = FALLBACK_IMAGE;\n\n// 4. Return Formatted Output\nreturn {\n  \"video_script\": script,\n  \"dialogue_text\": dialogue,\n  \"audio_content\": audio,\n  \"image_url\": image,\n  \"subtitles\": subtitles\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        416
      ],
      "id": "1f8d9337-5d8e-404a-81e3-de1a56b46426",
      "name": "Final Output Formatter"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output || '';\nconst lines = text.split(/[.!?\\n]/).map(l => l.trim()).filter(l => l.length > 0);\n\nlet currentTime = 0;\nconst charsPerSecond = 10; // Conservative speed for clarity\nlet srtContent = '';\n\nfunction formatTime(seconds) {\n  const date = new Date(0);\n  date.setMilliseconds(seconds * 1000);\n  return date.toISOString().substr(11, 12).replace('.', ',');\n}\n\nlines.forEach((line, index) => {\n  const duration = Math.max(1.5, line.length / charsPerSecond);\n  const startTime = formatTime(currentTime);\n  const endTime = formatTime(currentTime + duration);\n\n  srtContent += `${index + 1}\\n`;\n  srtContent += `${startTime} --> ${endTime}\\n`;\n  srtContent += `${line}\\n\\n`;\n\n  currentTime += duration;\n});\n\nconst binaryData = Buffer.from(srtContent).toString('base64');\n\nreturn {\n  json: {\n    srt: srtContent\n  },\n  binary: {\n    subtitle: {\n      data: binaryData,\n      mimeType: 'application/x-subrip',\n      fileExtension: 'srt',\n      fileName: 'generated_subtitles.srt'\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "id": "subtitle-gen-node-id",
      "name": "Generate Subtitles"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v1/renders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 78c6a4e186f14ca3ba4fd82fc5eb64e83aacf5c611ab60435dde54cbd3fa25ca93700defbceab10aa2f79cc999c3e7c7"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"template_id\": \"dcdcd8ea-5a3e-4ca1-97ae-8762de03648d\", \"modifications\": { \"Text-1\": $json.dialogue_text, \"Background-1\": $json.image_url, \"Music\": $json.audio_content } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1904,
        416
      ],
      "id": "4b026352-dd47-47b2-80c2-482b3cd6bf52",
      "name": "6. Render Video (Creatomate API)"
    },
    {
      "parameters": {
        "resource": "video",
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        2208,
        416
      ],
      "id": "fa8326d6-edb6-40f3-92ac-9b7dcb7def58",
      "name": "7. Upload to YouTube"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -400,
        600
      ],
      "id": "a3b48c0a-6739-417e-a945-07dcdf564dd2",
      "name": "Gemini Model 1",
      "credentials": {
        "googlePalmApi": {
          "id": "U7Ht5KobgvPGZaBR",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        700
      ],
      "id": "5fd46fb9-9319-4c27-a57b-5478d3375097",
      "name": "Gemini Model Script (Pro)",
      "credentials": {
        "googlePalmApi": {
          "id": "U7Ht5KobgvPGZaBR",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        800
      ],
      "id": "11111111-2222-3333-4444-555555555555",
      "name": "Gemini Model Image (Pro)",
      "credentials": {
        "googlePalmApi": {
          "id": "U7Ht5KobgvPGZaBR",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "66666666-7777-8888-9999-aaaaaaaaaaaa",
      "name": "Gemini Model TTS (Flash Lite)",
      "credentials": {
        "googlePalmApi": {
          "id": "U7Ht5KobgvPGZaBR",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start Automation": {
      "main": [
        [
          {
            "node": "1. Fetch Source (DogDrip)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Fetch Source (DogDrip)": {
      "main": [
        [
          {
            "node": "2. Select Topic (Gemini Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Select Topic (Gemini Agent)": {
      "main": [
        [
          {
            "node": "3. Write Script (Gemini Agent)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Topic for Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Topic for Drive": {
      "main": [
        [
          {
            "node": "Save Topic to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Write Script (Gemini Agent)": {
      "main": [
        [
          {
            "node": "TTS Prep Agent (Gemini)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Script for Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Image Prompt (Gemini Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Script for Drive": {
      "main": [
        [
          {
            "node": "Save Script to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image Prompt (Gemini Agent)": {
      "main": [
        [
          {
            "node": "5. Generate Image (Gemini Imagen)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS Prep Agent (Gemini)": {
      "main": [
        [
          {
            "node": "4. Generate Audio (Google TTS)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Subtitles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Subtitles": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "4. Generate Audio (Google TTS)": {
      "main": [
        [
          {
            "node": "Prepare Audio for Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Generate Image (Gemini Imagen)": {
      "main": [
        [
          {
            "node": "Preview Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preview Image": {
      "main": [
        [
          {
            "node": "Save Image to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audio for Drive": {
      "main": [
        [
          {
            "node": "Save Audio to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Audio to Drive": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Image to Drive": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Final Output Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Output Formatter": {
      "main": [
        []
      ]
    },
    "6. Render Video (Creatomate API)": {
      "main": [
        [
          {
            "node": "7. Upload to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model 1": {
      "ai_languageModel": [
        [
          {
            "node": "2. Select Topic (Gemini Agent)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model Script (Pro)": {
      "ai_languageModel": [
        [
          {
            "node": "3. Write Script (Gemini Agent)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model Image (Pro)": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Image Prompt (Gemini Agent)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model TTS (Flash Lite)": {
      "ai_languageModel": [
        [
          {
            "node": "TTS Prep Agent (Gemini)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ae3a9425-1684-4172-b7b8-d3fe2ccc5ba8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4ea3d148fada54e969a584b2890c623389c4931106c2403cff87f1046e7fb7ad"
  },
  "id": "Ru7hdSgro0KZypQY",
  "tags": []
}